.login {
  width: min-content;
  position: relative;
  z-index: 1;
  border-radius: 25px;
}

.roomBenefitsKey {
  display: block;
  width: 150px;
}

.roomBenefitsValue {
  width: 300px;
}

.image {
  max-width: 800px;
}
