.imageContainer {
  height: 60vh;
}

.roomImage {
  max-width: 500px;
}

.content {
  width: 80vw;
  position: relative;
  border-radius: 25px;
  background: white;
  top: -300px;
}

.roomBenefitsKey {
  display: block;
  width: 350px;
}
