<booking-layout backgroundImage="https://www.zastavki.com/pictures/1920x1080/2012/Interior_Super_Hotel_Room_035130_.jpg">
  <div class="profile flex flex-column p-6 mx-auto bg-white align-items-center">
    <p-tabView styleClass="tabs">
      <p-tabPanel header="Профіль" [cache]="true">
        <booking-profile-form></booking-profile-form>
      </p-tabPanel>
      <p-tabPanel header="Мої бронювання" [cache]="true">
        <booking-profile-bookings></booking-profile-bookings>
      </p-tabPanel>
    </p-tabView>
  </div>
</booking-layout>
