.roomBenefitsKey {
  display: block;
  width: 150px;
}

.roomBenefitsValue {
  width: 100px;
}

::ng-deep .roomCard .p-card-content {
  padding: 0;
}

::ng-deep .roomCard .p-card-footer {
  padding: 0;
}

.image {
  height: 230px;
  width: 100%;
}
